* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  height: 50px;
  width: 100%;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.content {
  background-color: #eeeeee;
  width: 300px;
  padding: 10px;
  position: relative;
  flex-wrap: wrap;
}

.c-1, .c-2 {
  margin-right: 30px;
}

.step {
  background-color: #ff9a4b;
  color: white;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.bg_img {
  background-size: cover;
  background-position: bottom;
  height: 150px;
  margin-bottom: 15px;
}

.img1 {
  background-image: url(img/flow01.png);
}

.img2 {
  background-image: url(img/flow02.png);
}

.img3 {
  background-image: url(img/flow03.png);
}

h3 {
  margin-bottom: 5px;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  main {
    display: block;
    width: 100%;
  }

  .content {
    width: 90%;
    margin: 0 auto;
  }

  .c-1, .c-2 {
    margin-bottom: 20px;
  }

  .bg_img {
    width: 100%;
  }
}